body {
  font-family: "Lato";
  background-image: url("../../images/jez-timms-90838.jpg");
  background-size: cover;
  background-position: center middle;
}

.navbar-header a {
  font-size: 2.2rem;
}

#navbar a {
  font-size: 1.7rem;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
