body {
  font-family: "Lato";

}

.openingSearch {
  background-image: url("https://images.unsplash.com/photo-1462837019796-6f0204b48d95?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=jez-timms-90838.jpg&s=b93fdce278fae78fc02dae95666e3f65");
  background-size: cover;
  background-position: center middle;
  padding-bottom: 15%;
}

.openingSearch h1 {
  color: #424342;
  padding-top: 10%;
  text-align: center;
  color: black;
  font-size: 5.5rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.content {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px 24px 24px;
  background-color: #fff;
  border-radius: 8px;
}

.btn-default {
  margin-top: 10px;
}

.topMeals {

}

.topMeals h2 {
  text-align: center;
}
