body {
  background-size: cover;
  background-position: center;
  font-family: "Lato";
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.content {
  text-align: center;
  margin: 0 auto;
  max-width: 450px;
  padding: 20px 24px 24px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
}

.content p {
  text-align: left;
  font-size: 1.7rem;
}

.content p:last-child {
  text-align: center;
}

.btn-default {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.7rem;
}
