<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand">MealWise</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/registerUser">Create an Account  <i class="fa fa-user-plus"></i></a></li>
        <li><a href="#!/login">Login  <i class="fa fa-user"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="topHead">
  <img src="images/MealWise.png" alt="MealWise Icon">
</div>

<!-- content box -->
<div class="content" ng-cloak>
  <h1>Register</h1>
  <p><strong>Username</strong></p>
  <div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
    <input type="text" class="form-control" placeholder='Username' ng-model='pc.registerNameInput'>
  </div>
  <p><strong>Password</strong></p>
  <div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
    <input type="password" class="form-control" placeholder='Password' ng-model='pc.registerPasswordInput'>
  </div>
  <button class="btn btn-default" ng-click='pc.register()'>Register</button>
  <p><a href="#!/login">Return to Login Page</a></p>
</div>
