<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
<i class="fa fa-bars" aria-hidden="true"></i>
     </button>
      <a class="navbar-brand" href="#!/searchResults">MealWise</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#!/home">Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/login">Logout  <i class="fa fa-sign-out" aria-hidden="true"></i>
</a></li>
      </ul>
    </div>
  </div>
</nav>

<form class="form-inline">
  <div class="form-group">
    <input type="text" class="form-control" placeholder='Type of food' ng-model='mc.foodInput'>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder='City' ng-model='mc.cityInput'>
  </div>
  <button class="btn btn-default" ng-click='mc.zomatoSearch()'>Search! <i class="fa fa-search" aria-hidden="true"></i></button>
</form>
<!-- testing -->

<div class="container">
  <!-- just a test -->

  <div class="row">
    <div class="col-md-6" id="restaurantCard" ng-repeat="info in mc.searchInfo">
      <h3><a href="">{{info.restaurant.name}}</a></h3>
      <p>{{info.restaurant.location.address}}</p>
      <p>Rating: {{info.restaurant.user_rating.aggregate_rating}} / 5</p>
      <p>Votes: {{info.restaurant.user_rating.votes}}</p>
      <p>Top Meal: </p>
      <!-- top meal call to db  -->
      <p>View top menu items: </p>
      <!-- openMenu api call and mealDb call -->
    </div>
  </div>

</div>

<div class="navbar navbar-fixed-bottom">
  <p>powered by: <a href="http://openmenu.com" target="blank"><img height="25" width="120" src="https://openmenu.com/images/openmenu-250-49.png" alt="Powered by OpenMenu" /></a> & <a href="https://zomato.com" target="blank"><img src="https://b.zmtcdn.com/images/logo/zomato_logo.svg" img height="30"></a></p>
</div>
